@font-face {
    font-family: Roboto;
    src: url("fonts/roboto-v27-latin-300.woff") format('woff'), url('fonts/roboto-v27-latin-300.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: RobotoRegular;
    src: url("fonts/roboto-v27-latin-regular.woff") format('woff'), url('fonts/roboto-v27-latin-regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

@font-face {
    font-family: RobotoCondensed;
    src: url("fonts/roboto-condensed.woff") format('woff'), url('fonts/roboto-condensed.ttf') format('truetype');
    /* Safari, Android, iOS */
}

:root {
    --main-color: #6750A4;
    --secondary-color: rgb(125, 104, 180);
    --accent-color: #CDDAE8;
    --read-color: #00BA88;
    --unread-color: #EA9D2A;
    --urgent-color: #D98777;
    --neutral-color: white;
    --dark-gray-color: #282828;
    --light-gray-color: #636365;
    --border-color: #ebebeb;
    --highlight-color: #e6def2;
    --background-color: #F7F7FC;
    --box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    --small-text: calc(0.5vw + 0.5vh);
    --medium-text: calc(0.65vw + 0.65vh);
    --big-text: calc(0.8vw + 0.8vh);
}

html {
    font-size: 16px;
}

* {
    transition: 0.4s ease-out;
}

body {
    margin: 0;
    font-family: Roboto;
    background-color: var(--background-color);
}

i {
    user-select: none;
}