.calendar {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    padding: 2vh 0;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    min-height: 40%;
    margin: 20px 20px 20px 0;
}

.calendar-top {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    margin-bottom: 4vh;
    font-weight: 600;
    font-family: RobotoRegular;
    letter-spacing: 0.5px;
}

.calendar-top>*,
.calendar-days>*,
.calendar-dates>* {
    justify-self: center;
    align-self: center;
}

.calendar-dates>div {
    padding: 10px;
    cursor: pointer;
    /* border-radius: 100%; */
    width: -webkit-fill-available;
    width: -moz-available;
    /* height: 40%; */
    text-align: center;
    font-size: var(--big-text);
}

.calendar-days,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-date-grayed {
    opacity: 0.25;
}

.calendar-picked-date {
    background-color: var(--main-color);
    color: white;
}

.calendar-unpicked-date {
    background-color: var(--background-color);
    color: black;
}


/* DATE INPUTS  */

.date-input-container {
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}

.date-input {
    padding: 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
    font-size: var(--small-text);
    font-family: 'RobotoRegular';
    color: var(--light-gray-color);
    width: 120px;
}

.date-input:focus {
    transition: 50ms;
    outline: 2px solid var(--main-color);
}


/* .input-field-container {} */

.info-header {
    color: var(--light-gray-color);
    font-size: var(--small-text);
    letter-spacing: 0.1vw;
    padding: 0 0.25vw 0 0.25vw;
}


/* MEDIA QUERIES */


/*
    If screen size is that of vertical phone,
*/

@media screen and (max-width: 700px) {
    .date-input {
        padding: 2vw;
        font-size: var(--medium-text);
    }
}