.main-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1300px;
    padding-left: 200px;
    padding-right: 20px;
}


/* .content-section {
    margin: 20px;
} */

.graph-section>div {
    margin: 20px;
}


/* 
CHANGES BACKGROUND COLOR ON HOVER, STARTING IN THE CENTER AND EXPANDING FROM THERE.
WAS A LITTLE TOO INTENSE MAYBE. 
KEEPING IT FOR NOW.
*/


/* .hover-fill {
    background-size: 0% 0%;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: background-size .25s, color .25s, background-image .25s;
}

.top-button:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
    color: #fff;
} */


/* BUTTONS USED TO SWITCH BETWEEN GRAPHS */

.top-button-container {
    /* display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    gap: 2vw; */
    display: flex;
    justify-content: space-between;
    gap: .5vw;
}

.top-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    width: 125px;
    height: 125px;
    cursor: pointer;
    padding: 6px;
}

.top-button-unselected:hover {
    background-color: var(--secondary-color);
    color: white;
    transition: 0.2s;
}

.top-button-selected {
    color: var(--background-color);
    background-color: var(--main-color);
}

.top-button-unselected {
    color: var(--light-gray-color);
    background-color: var(--background-color);
}

.top-button-icon {
    padding-bottom: 10px;
    font-size: calc(var(--big-text) * 1.6);
    user-select: none;
}

.top-button-main-text {
    font-weight: 600;
    font-size: var(--big-text);
}

.top-button-label {
    padding-top: 10px;
    font-size: var(--small-text);
    letter-spacing: 0.5px;
}

.top-button-text-grid {
    display: grid;
}


/* GRAPH CANVAS */

.graph-canvas {
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    width: 100% !important;
    /* height: 30vh !important; */
    box-sizing: border-box;
}

.canvas-container {
    margin: 2vw;
}


/* MEDIA QUERIES */


/*
    If screen size is that of a vertical phone,
*/

@media screen and (max-width: 700px) {
    .main-grid {
        grid-template-columns: none;
        grid-template-rows: 1.5fr 1fr;
        position: static;
        /* padding: 50px 0 0 0; */
        padding: 0;
        width: 92vw;
    }
    .content-section {
        margin: 0;
        padding: 2vw;
        width: 100vw;
        box-sizing: border-box;
    }
    .top-button-container {
        flex-direction: column;
    }
    .top-button {
        display: grid;
        grid-template-columns: 60px 1fr;
        width: 100%;
        height: 60px;
        text-align: unset;
        margin: 4px 0;
    }
    .top-button-text-grid {
        grid-template-rows: 0.1fr 1fr;
    }
    .top-button-label {
        grid-row: 1;
    }
    .top-button-icon {
        justify-self: center;
        align-self: center;
        padding: 0;
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .main-grid {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}


/*
    If screen width is larger than 1500px,
    Apply margin:auto on main-grid,
    And make the width smaller so as to make the element centered,

    Set the size of the top buttons to static,
    This means the elements do not become endlessly longer as the screen scales upward
*/

@media screen and (min-width: 1280px) {
    .main-grid {
        margin: auto;
    }
    .top-button {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 1500px) {
    .top-button {
        width: 175px;
        height: 175px;
    }
}