.main-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    position: relative;
    left: 16vw;
    width: 82vw;
}

.content-section {
    margin: 20px;
}


/* BUTTONS USED TO SWITCH BETWEEN GRAPHS */

.top-button-container {
    /* display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    gap: 2vw; */
    display: flex;
    justify-content: space-between;
    gap: 3.5vw;
}

.top-button {
    /* align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    border-radius: 0.35rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 0.35rem;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    padding: 1vh;
}

.top-button-selected {
    color: var(--background-color);
    background-color: var(--main-color);
}

.top-button-unselected {
    color: var(--light-gray-color);
    background-color: var(--background-color);
}

.top-button-icon {
    padding-bottom: calc(0.6vw + 0.6vh);
    font-size: calc(var(--big-text) * 1.6);
    user-select: none;
}

.top-button-main-text {
    font-weight: 600;
    font-size: var(--big-text);
}

.top-button-sub-text {
    padding-top: calc(0.6vw + 0.6vh);
    font-size: var(--small-text);
    letter-spacing: 0.5px;
}


/* GRAPH CANVAS */

.graph-canvas {
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
    width: 100% !important;
    /* height: 30vh !important; */
    box-sizing: border-box;
}