.sidenav {
    height: 100%;
    border-right: 1px solid var(--border-color);
    position: fixed;
    width: 16vw;
    top: 0;
}

.sidenav a {
    text-decoration: none;
}


/* NEW DESIGN */

.sidenav-top {
    color: var(--light-gray-color);
    padding: 25px 1rem 1rem 1rem;
    border-bottom: 1px solid var(--border-color);
}

.sidenav-username {
    font-size: calc(var(--big-text) + 0.1vw);
    font-weight: 600;
}

.sidenav-email {
    font-size: var(--medium-text);
}

.sidenav-button {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    gap: 1vw;
    padding: 1vw 0.2vw 1vw 1vw;
}

.sidenav-button-text {
    align-self: center;
    font-size: var(--medium-text);
}

.sidenav-button-selected {
    color: var(--main-color);
    background-color: var(--highlight-color);
}

.sidenav-button-unselected {
    color: var(--light-gray-color) !important;
}


/* MEDIA QUERIES */


/*
    If screen size is that of vertical phone,
    Move sidenav just off screen
*/

@media screen and (max-width: 420px) {
    .sidenav {
        left: -100vw;
    }
}